.habit-details {
    background: #fff;
    border-radius: 4px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
    border: 2px solid black;
  }
  .habit-details:hover {
    transition: 0.7s ease;
    transform: scale(1.05);
  }
  .habit-details h4 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    color: var(--primary);
  }
  .habit-details p {
    margin: 0;
    font-size: 0.9em;
    color: #555;
  }
  .habit-details span {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background: #f1f1f1;
    padding: 6px;
    border-radius: 50%;
    color: #333;
  }

  .completed-box {
    background-color: #d4edda;
    color: #155724;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 8px;
    margin-left: 12px;
    display: inline-block;

    /* animation */
    opacity: 0;
    transform: scale(0.8);
    animation: fadeInScale 0.3s forwards;
}

@keyframes fadeInScale {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.strikethrough {
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  font-weight: 500;
}