.home {
  display: flex;
  flex-direction: column;
  align-items: column;
}

.habits {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: column;
}

.add-habit {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}